/* Body */

body {
    background: url('images/fond_jaune.png');
    font-family:'Raleway' ;
    color: #181818;
    margin-top: 25px;
}

#bloc_page {
    width: 1150px;
    margin: auto;
}

/* Header */

header {
    background: url('images/separateur.png') repeat-x bottom;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#titre_principal {
    display: flex;
    flex-direction: column;
}

#logo {
    display: flex;
    justify-content: space-between;
}

#logo img {
    width: 90px;
    height: 40px;
}

header h1 {
    font-family: 'Raleway', serif;
    font-size: 1.1em;
    font-weight: normal;
    margin: 15px 0 0 0;
}

header h2 {
    font-family: 'Raleway';
    font-size: 0.9em;
    margin: 10px 0 0 2px;
    font-weight: normal;
    color: darkgrey;
}

#ok1
{
    display: flex;
}

/* Navigation */

#ancre {
    display: flex;
    margin-top: 35px;
}


.ancre1 {
    margin-left: -9px;
    width: 186.5px;
    height: 30px;
    background-color: transparent;
    border-style: inset;
    border-color: transparent transparent #f2f2f2 transparent;
    text-align: center;
    list-style-type: none; 

}
.ancre1:hover {
    border-color: transparent transparent #0065FC transparent;
}


nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    margin-top: -95px;
    margin-right: 40px;
}

nav a
{
    font-size: 1em;
    text-decoration: none;
    color: grey ;
}

#nav5 {
    color:#0065FC ;
    font-weight: bold;
}

.hover1:hover {
    color:#0065FC ;
    border-top: 3px solid #0065FC;
    padding-top: 49px;
}

/* Search */

input {
    outline-color: #f2f2f2;
}

.fa-search {
    padding: 2px 0 0 5px;
}
#searchbar1 {
    display: flex;
    height: 42px;
    border-radius: 15px;
    display: flex;
    width: 350px;
    margin-top: 25px;
}

#searchbar1 div {
    padding-top: 10px;
    text-align: center;
    width: 50px;
    background-color:#f2f2f2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#searchbar1 i {
    font-size: 1.2em;
}

#searchbar1 a {
    padding:13px 5px 6px 0;
    font:Bold 13px Arial;
	background:#0065FC;
    color:white;
    text-decoration: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px; 
    width: 110px;
    text-align: center;
}

#rechercher {
    margin-top: 0px;
}

:placeholder-shown {
    border-style: solid;
   border-color:  #f2f2f2 transparent #f2f2f2   #f2f2f2 ;
}

::-webkit-input-placeholder
{
    padding-left: 10px;
}

/* Filtres */

#filtres
{
    display: flex;
    margin-left: -49px;
    margin-top: 25px;
}

#filtres div {
    color: #0065FC;
}

.element11 {
    margin-top: -38.6px;
    margin-left: -3px;
    width: 35.5px;
    height: 35.5px;
    background-color:#DEEBFF;
    border-radius: 25px;
}
.filtre1 {
    margin-bottom: 5px;
    margin-left: 30px;
    width: 140px;
    height: 30px;
    background-color:white;
    border-radius: 45px;
    border-color: #DCDCDC;
    border-style: solid;
    border-width: 0.16em;
}
.filtre1:hover {
    background-color: #DEEBFF;
    border-color: #DEEBFF;
}

.filtre2 {
    margin-bottom: 5px;
    margin-left: 40px;
    width: 120px;
    height: 30px;
    background-color:white;
    border-radius: 45px;
    border-color: #DCDCDC;
    border-style: solid;
    border-width: 0.16em;
}
.filtre2:hover {
    background-color: #DEEBFF;
    border-color: #DEEBFF;
}

.filtre3 {
    margin-bottom: 5px;
    margin-left: 40px;
    width: 140px;
    height: 30px;
    background-color:white;
    border-radius: 45px;
    border-color: #DCDCDC;
    border-style: solid;
    border-width: 0.16em;
}
.filtre3:hover {
    background-color: #DEEBFF;
    border-color: #DEEBFF;
}

.filtre4
{
    margin-bottom: 5px;
    margin-left: 40px;
    width: 180px;
    height: 30px;
    background-color:white;
    border-radius: 45px;
    border-color: #DCDCDC;
    border-style: solid;
    border-width: 0.16em;
}
.filtre4:hover {
    background-color: #DEEBFF;
    border-color: #DEEBFF;
}

.titre5 {
    font-family: 'Raleway', sans-serif;
    margin-top: -18px;
    margin-left: 45px;
    font-size: 13px;
}
#titre {
    font-family: 'Raleway', sans-serif;
    margin-top: 0px;
    margin-left: -10px;
    font-size: 20px;
}

#titre6 {
    font-family: 'Raleway', sans-serif;
    margin-top: 6px;
    margin-left: 52px;
    font-size: 15px;
}

.fa-money-bill-wave {
    padding:8px 0 0 5px;
}

.fa-info {
    font-size: 0.90em;
    padding:0px 0 0px 6.5px;    
}

.fa-male{
    padding: 8px 0 0 12px;
}

.fa-heart {
    padding:8px 0 0 7px;   
}

.fa-dog{   
    padding:8px 0 0px 7px;
}

.round {
    margin-top: 20px;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    background-color:white;
    border-radius: 45px;
    border-style: solid;
    border-width: 0.10em;
    border-color: #DCDCDC;
}

.titreinfo {
    font-family: 'Raleway', sans-serif;
    margin-top: -20px;
    font-size: 13px;
    color:grey ;
    margin-left: 50px;
    font-size: 0.75em;
}

.colorblue {
    color:  #0065FC;
}

/* Corps */

.star {
    margin-left: 10px;
    display: flex;
    margin-top: -2px;
}

.star2 {
    margin-left: 125px;
    margin-top: 25px;
    display: flex;
}


.blue {
    color: #0065FC;
}

.grey {
    color: #DCDCDC;
}

section {
    display: flex;
}

h2 {
    font-family: 'Raleway';
    font-size: 1.1em;
    margin: 10px 0 15px 2px;
    font-weight: normal;
    color: black;
}

h3 {
    font-family: 'Raleway';
    font-size: 1.1em;
    margin: 10px 0 15px 18px;
    font-weight: normal;
    color: black;
}

.fa-chart-line {
    margin-left: 80px;
        
}


#article1 {
    padding: 10px 0 0 30px;
    border-radius:25px;
    margin-left: 0px;
    background-color: #F2F2F2;
    width: 715px;
    height: 505px;
}

aside {
    padding: 15px 0 0 15px;
    margin-left: 20px;
    background-color: #F2F2F2;
    border-radius: 25px;
    width: 330px;
    height: 500px;
}
.marseille {
    padding:5px 5px 0px 5px;
    width: 199.5px;
    height: 90px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
    object-position: center;

}
.populaires {
    padding:4px 5px 8px 5px;
    width: 115px;
    height: 115px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    object-fit: cover;
    object-position: center;

}
.square {
    margin-bottom: 5px;
    margin-left: 25px;
    width: 210px;
    height: 175px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 1px 12px grey;
}
.rectangle {
    margin-bottom: 25px;
    margin-left: 17px;
    width: 280px;
    height: 125px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 1px 12px grey;
}

.firstline {
    display: flex;
    margin-left: -25px;
}

.secondline {
    margin-top: 25px;
    display: flex;
    margin-left: -25px;
}

.titre3 {
    font-family: 'Raleway', sans-serif;
    margin-top: 4px;
    margin-left: 10px;
    font-size: 13px;
}

.titre4 {
    font-family: 'Raleway', sans-serif;
    margin-top: -5px;
    margin-left: 10px;
    font-size: 10px;
}

.titre1 {
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    margin-left: 125px;
    margin-top: -110px;
}

.titre2 {
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    margin-left: 125px;
    margin-top: -2px;
}

.star {
    margin-top: -2px;
    margin-left: 10px;
}

.star2 {
    margin-top: 23px;
    margin-left: 125px;    
}
.star3 {
    margin-top: 20px;
    margin-left: 125px;    
}

#titre13{
    font-family: 'Raleway', sans-serif;
    margin-left: 5px;
    font-size: 1.3em;
    margin-top: 50px;
}

/* corps 2 */

#article2 {
    border-radius:25px;
    margin-left: 0px;
    background-color:transparent;
    width: 1085px;
    height: 410px;
    display: flex;
}

#acti1 {   
    text-align: center;  
    width: 255px;
    height: 400px;
    background-color: white;
    border-radius: 15px; 
    box-shadow: 1px 1px 12px grey; 
    margin-right: 37px;   
}

.vieux {
    
    width: 100%;
    height: 90%;
    border-top-left-radius: 15px;  
    border-top-right-radius: 15px;
    object-fit: cover;
    object-position: center;

}

#titre17{
    font-family: 'Raleway', sans-serif;   
    font-size: 13px;
}

#acti2 {     
    text-align: center;
    width: 255px;
    height: 210px;
    background-color: white;
    border-radius: 15px; 
    box-shadow: 1px 1px 12px grey;  
    margin-right: 37px;
    margin-bottom: 30px;
}
.pomegues {
    
    width: 100%;
    height: 82%;
    border-top-left-radius: 15px;  
    border-top-right-radius: 15px;
    object-fit: cover;
    object-position: center;

}

#titre18{
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
}

#acti3 {     
    text-align: center;
    width: 255px;
    height: 160px;
    background-color: white;
    border-radius: 15px;  
    box-shadow: 1px 1px 12px grey; 
}
.Frioul {
    
    width: 100%;
    height: 73%;
    border-top-left-radius: 15px;  
    border-top-right-radius: 15px;
    object-fit: cover;
    object-position: center;

}

#titre19{
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
}

#acti4 {    
    text-align: center;
    width: 255px;
    height: 400px;
    background-color: white;
    border-radius: 15px;  
    box-shadow: 1px 1px 12px grey; 
    margin-right: 37px;
    
}

.calanques {
    
    width: 100%;
    height: 89.5%;
    border-top-left-radius: 15px;  
    border-top-right-radius: 15px;
    object-fit: cover;
    object-position: center;

}

#titre20{
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
}

#acti5 {     
    text-align: center;
    width: 255px;
    height: 185px;
    background-color: white;
    border-radius: 15px;  
    box-shadow: 1px 1px 12px grey; 
    margin-bottom: 30px;
}
.garde {
    
    width: 100%;
    height: 80%;
    border-top-left-radius: 15px;  
    border-top-right-radius: 15px;
    object-fit: cover;
    object-position: center;

}

#titre21{
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
}

#acti6 {     
    text-align: center;
    width: 255px;
    height: 185px;
    background-color: white;
    border-radius: 15px;  
    box-shadow: 1px 1px 12px grey; 
}
.longchamp {
    
    width: 100%;
    height: 80%;
    border-top-left-radius: 15px;  
    border-top-right-radius: 15px;
    object-fit: cover;
    object-position: center;

}

#titre22 {
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
}

/* Footer */

.Footer {
    margin-top: 35px;
    margin-left: -30px;
    background-color:#F2F2F2;
    width: 1170px;
    height: 170px;
    display: flex;
}
.titre24 {
    font-family: sans-serif;
    font-size: 12px; 
}

.footer1 {
    
    margin-left: 50px;
}

.footer2 {
   
    margin-left: 170px;
}

.footer3 {
    
    margin-left: 200px;
}

.titre23 { 
     font-size: 17px;
     font-family: 'Raleway';
}

.stylelien2 {
    color: black;
    text-decoration: none;
}

.stylelien1 {
    color: #0065FC;
}


@media screen and (max-width:2000px) 
{ 
    #titre2 {
        display: none;
    }

     #info2 {
         display: none;
    }

    #searchbar2 {
        display: none;
    } 

    #navsecon {
        display: none;
    }

    #filtre5 {
        display: flex;
    }

    #navi2 {
        display: none;
    }

    .ancre1 {
        display: none;
    }

    #hover5 {
        display: none;
    }


}

@media only screen and (min-width: 500px) and (max-width: 769px)
{
    
    #bloc_page {
        height: 1750px;
        margin-left: 20px;
    }

}

@media only screen and (max-width: 375px)

{
    
    /* Header */

    #bloc_page {
       width: 365px;
    }

    #logo {
        width: 320px;
        margin-left: 25px;
    }

    #inscrire {
        margin-right: 40px;
        margin-top: 14px;
    }

    #hover5 {
        display: flex;
        justify-content: flex-end;
        text-decoration: none;
        color: #0065FC;
    }


    /* Navigation */

    nav ul {
        list-style-type: none;
        display: flex;
    }
    
    nav li {
        margin-top: 20px;
        margin-right: 90px;
        border-bottom: 3px solid #f2f2f2; 
        padding-bottom: 10px;
    }
    
    #hover1
    {
        font-size: 1em;
        text-decoration: none;
        color: grey ;
    }
    

    .hover2:hover {
        color:#0065FC ;
        border-bottom: 3px solid #0065FC;
        padding-bottom: 10px;

    }

    .hover2 {
        margin-left: -13px;
    }

    .elementT {
        display: inline;
    }

    .elementT2 {
        display: inline;
    }

    .ancre1 {
        display: inline;
    }

    #ancre2 {
        display: none;
    }

    .hover6 {
        color:grey;
        text-decoration: none;
    }

    .hover6:hover {
        color: #0065FC;
    }


    /* Titre */

    header {
        width: 365px;
    }

    header h1 {
        font-family: 'Raleway', serif;
        font-size: 1.2em;
        font-weight: bold;
        margin-left: 18px;   
        margin-top: -5px;
    }

    #titre1 {
        display: none;
    }
    
    #titre2 {
        display: inline;
        margin-top: 25px;
        width: 357px;
    }

    header h2 {
        font-family: 'Raleway';
        font-size: 0.8em;
        font-weight: normal;
        color: black;
        margin-left: 21px;
    }

    #heberg {
        margin-left: 10px;
    }

    /* search */

    input {
        outline-color: #f2f2f2;
    }
    
    #searchbar2 {
        display: flex;
        height: 48px;
        border-radius: 15px;
        display: flex;
        width: 345px;
        margin-top: 25px;
        margin-left: 17px;
    }
    
    #searchbar2 div {
        padding-top: 10px;
        text-align: center;
        width: 48px;
        background-color:#f2f2f2;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    
    #searchbar2 i {
        font-size: 1.2em;
        padding-top: 4px;
    }
    
    #searchbar2 input {
        width: 212px;
    }
    
    #searchbar2 a {
        padding:13px 5px 6px 0px;
        font:Bold 13px Arial;
        background:#0065FC;
        color:white;
        text-decoration: none;
        border-radius: 15px;    
        width: 45px;
        text-align: center;
        margin-left: -10px;
    }
    
    #rechercher {
        margin-top: 0px;
    }
    
    :placeholder-shown {
        border-style: solid;
       border-color:  #f2f2f2 transparent #f2f2f2   #f2f2f2 ;
    }
    
    ::-webkit-input-placeholder
    {
        padding-left: 10px;
    }
    
    #searchbar1 {
        display: none;
    }

       
    /* Filtres */

    .titre5 {
        font-size: 0.9em;
    }

    #filtres
    {
        display: flex;
        flex-direction: column;   
        margin-left: -26px;
    }

    .element11 {
        margin-top: -42px;
        margin-left: -3px;
        width: 40px;
        height: 40px;
        background-color:#DEEBFF;
        border-radius: 25px;
    }

    .filtre1 {
        margin-bottom: 10px;
        margin-left: 45px;
        width: 145px;
        height: 35px;
        background-color:white;
        border-radius: 45px;
        border-color: #DCDCDC;
        border-style: solid;
        border-width: 0.16em;
    }
    
    .filtre2 {
        margin-bottom: 10px;
        margin-left: 20px;
        width: 115px;
        height: 35px;
        background-color:white;
        border-radius: 45px;
        border-color: #DCDCDC;
        border-style: solid;
        border-width: 0.16em;
    }
    
    .filtre3 {
        margin-bottom: 10px;
        margin-left: 45px;
        width: 145px;
        height: 35px;
        background-color:white;
        border-radius: 45px;
        border-color: #DCDCDC;
        border-style: solid;
        border-width: 0.16em;
    }
    
    .filtre4
    {
        margin-bottom: 5px;
        margin-left: 45px;
        width: 185px;
        height: 35px;
        background-color:white;
        border-radius: 45px;
        border-color: #DCDCDC;
        border-style: solid;
        border-width: 0.16em;
    }

    #filtre5 { 
        display: flex;
    }

    #info1 {
        display: none;
    }

    #info2 {
        display: inline;
    }

    .titre42 {
        font-family: 'Raleway', sans-serif;
        font-size: 0.9em;
        color:grey;
        margin-left: 50px;
    }

    .round {
        margin-left: 20px;
    }

    /* corps */

    section {
        display: flex;
        flex-direction: column-reverse;
    }
    
    #article1 {
        padding: 25px 0 0px 15px;
        background-color: transparent;
        width:330px;
        height: 1350px;
        margin-left: -5px;
        border-radius: 0;

    }

    #titre3 {
        font-family: 'Raleway', sans-serif;
        margin-top: 4px;
        margin-left: 10px;
        font-size: 13px;
    }
    
    #titre4 {
        font-family: 'Raleway', sans-serif;
        margin-top: -5px;
        margin-left: 10px;
        font-size: 10px;
    }
    
    h3 {
        font-family: 'Raleway';
        font-size: 1.1em;
        margin: 10px 0 15px 18px;
        font-weight: normal;
        color: black;
    }

    

    aside {
        padding: 15px 0 0 27px;
        background-color: #F2F2F2;
        margin-left: -9px;
        width: 345px;
        height: 500px;
        margin-bottom: 0;
        border-radius: 0;
    }

    .marseille {
        padding:5px 5px 0px 5px;
        width: 97%;
        height: 100px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        
    }
    .populaires {
        padding:4px 5px 8px 5px;
        width: 115px;
        height: 115px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    .square {
        margin-bottom: 25px;
        margin-left: 32px;
        width: 320px;
        height: 175px;
        background-color: white;
        border-radius: 15px;
        box-shadow: 1px 1px 12px grey;
    }
    .rectangle {
        margin-bottom: 25px;
        margin-left: 0px;
        width: 320px;
        height: 125px;
        background-color: white;
        border-radius: 15px;
        box-shadow: 1px 1px 12px grey;
    }
    
    .firstline {
        display: flex;
        flex-direction: column;
    }
    
    .secondline {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
    }
      
    .titre1 {
        font-family: 'Raleway', sans-serif;
        font-size: 13px;
        margin-left: 135px;
        margin-top: -110px;
    }
    
    .titre2 {
        font-family: 'Raleway', sans-serif;
        font-size: 10px;
        margin-left: 135px;
        margin-top: -2px;
    }
    
    .star {
        margin-top: -5px;
        margin-left: 10px;
    }
    
    .star2 {
        margin-top: 23px;
        margin-left: 135px;    
    }
    .star3 {
        margin-top: 20px;
        margin-left: 135px;    
    }
    
    /* corps 2 */

    #article2
    {
        display: flex;
        flex-direction: column;
        background-color: transparent;
        width: auto;
        height: 1100px;
        margin-left: 16px;
        width: 350px;
    }

    #acti1 {   
        height: 160px;
        margin-bottom: 25px;
        width: 320px;  
    }
    
    .vieux {   
        width: 100%;
        height: 73%;
        border-top-left-radius: 15px;  
        border-top-right-radius: 15px;
    }
    
    #titre17{
        font-family: 'Raleway', sans-serif;   
        font-size: 13px;
    }
    
    #acti2 {     
        height: 160px;
        margin-bottom: 25px; 
        width: 320px;
    }
    
    .pomegues {    
        width: 100%;
        height: 73%;
        border-top-left-radius: 15px;  
        border-top-right-radius: 15px;
    }
    
    #titre18{
        font-family: 'Raleway', sans-serif;
        font-size: 13px;
    }
    
    #acti3 {     
        height: 160px;
        margin-bottom: 25px;   
        width: 320px; 
    }
    .Frioul {   
        width: 100%;
        height: 73%;
        border-top-left-radius: 15px;  
        border-top-right-radius: 15px;
    }
    
    #titre19{
        font-family: 'Raleway', sans-serif;
        font-size: 13px;
    }
    
    #acti4 {    
        height: 160px;
        margin-bottom: 25px;   
        width: 320px; 
    }
    
    .calanques {   
        width: 100%;
        height: 73%;
        border-top-left-radius: 15px;  
        border-top-right-radius: 15px;
    }
    
    #titre20{
        font-family: 'Raleway', sans-serif;
        font-size: 13px;
    }
    
    #acti5 {         
        height: 160px; 
        margin-bottom: 25px;   
        width: 320px;
    }
    
    .garde {    
        width: 100%;
        height: 73%;
        border-top-left-radius: 15px;  
        border-top-right-radius: 15px;
    }
    
    #titre21{
        font-family: 'Raleway', sans-serif;
        font-size: 13px;
    }
    
    #acti6 {     
        height: 160px;
        margin-bottom: 25px;   
        width: 320px; 
    }
    .longchamp {    
        width: 100%;
        height: 73%;
        border-top-left-radius: 15px;  
        border-top-right-radius: 15px;
    }
    
    #titre22 {
        font-family: 'Raleway', sans-serif;
        font-size: 13px;
    }

    #titre13{
        font-family: 'Raleway', sans-serif;
        margin-left: 20px;
        font-size: 1.3em;
        margin-top: 15px;
        width: 250px;
    }

    #titre9{
        font-family: 'Raleway', sans-serif;
        margin-left: 10px;
        font-size: 1.1em;
        margin-top: 15px;
    }

    /* Footer */

    .Footer {
        display: flex;
        flex-direction: column;
        height: 370px;
        width: 350px;
        width: auto;
        background-color:#F2F2F2;
    }
    
    .footer1 {    
        margin-left: 45px;
    }
    
    .footer2 {       
        margin-left: 45px;
    }
    
    .footer3 {      
        margin-left: 45px;
    }
   
}










